.sidenav-container {
    height: 100%;
    background-color: #E0E0E0;
  }
  
  .sidenav {
    width: 100px;
  }
  
  .sidenav .mat-toolbar {
    background: inhert;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  #CNS{
      margin-left: 70px;
      margin-right: 50px;
      margin-top:  120%;
  }
  #main{
    background-color: #E0E0E0;
  }