<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">My Schedules</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My Schedules</span>
    </mat-toolbar>
    
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-card id="main">
  <mat-card class="formField">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
    <textarea type="text" id="descBox" placeholder="Description" rows="5" mdbInput></textarea>
    <div id="check" >
      <p id="scheduleCompleted">Is the schedule completed?</p>
      <mat-checkbox id="check1" [formControl]="disableSelect">No</mat-checkbox>
      <mat-checkbox id="check2" [formControl]="disableSelect">Yes</mat-checkbox>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Deadline"
             [formControl]="serializedDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    
  </mat-card>
</mat-card>
